<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<router-outlet></router-outlet> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome {{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button>2018</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <!-- <h3>Menu</h3>
    <a mat-raised-button routerLink="/api/customers">Home</a>
    <br/>
    <a mat-raised-button routerLink="/api/customers/detail">
    Add New Customer
    </a> -->
<h3>Menu</h3>
    <mat-card routerLink="/api/customers">
      <mat-card-content>
        <h4>Home</h4>
      </mat-card-content>
    </mat-card>
    <mat-card routerLink="/api/customers/detail">
      <mat-card-content>
        <h4>Add New Customer</h4>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
<mat-drawer-content>
  <div class="example_size">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-content>
</mat-drawer-container>